@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Section */
header {
    background-color: #1F2937;
    color: white;
    padding: 20px 15%;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

/* Header Navigation */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.header-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-links a:hover {
    color: #3882F6;
}

.hero {
    padding: 0;
    gap: 50px;
    align-items: center;
}
.hero {
    display: flex;
    padding: 100px 0;
    gap: 50px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 15px;
}

.hero-image {
    flex: 1;
    background-color: #6d747d;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px 30px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2a6fd3;
}

/* Information Section */
.info-section {
    padding: 50px 20%;
    text-align: center;
    font-weight: bold;
}

.info-section h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin-bottom: 50px;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    max-width: 150px;
}

.card-image {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 15%;
}

.card p {
    color: #6d747d;
}

.icon {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
}

/* Quote Section */
.quote-section {
    background-color: #E5E7EB;
    padding: 100px 25%;
}

.quote-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 20px;
}

.quote-author {
    font-weight: bold;
    font-size: 24px;
    text-align: right;
}

/* Call to Action */
.cta-section {
    padding: 100px 15%;
}

.cta-box {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.cta-text h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.cta-button {
    border: 2px solid white;
}

/* Footer */
footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 40px;
    margin-top: auto;
}

